<%- include('./layout/header.ejs'); %>

      <link rel="stylesheet" href="../css/read.css">
      
      <div class="all-info">
        <div class="flex-container">
          <div class="flax-main">
            <main class="main-content">
              <section class="news-posts">
                <h2 class="category"><%= content.category %></h2>
             <article class="news-post">
              <div class="one-news-blog">
                <h2 class="news-post-title"><%= content.title %></h2>
                  <div class="footer">
                     
                      <div class="name-author">Admin:<%= content.user %> </div>
                    </div>
                    <time class="news-time" datetime="2019-06-10"><%= content.date %></time>
                     
                    <div class="left-photo "> <img src="../images/newsPhoto/<%= content.blogPhoto %>"
                      width="800px"
                      height="500px"> </div>
                      <br>

                    <div class="prewiew-text">1. <br> <%= content.description %> </div>
                 
                   </div>
                </article>

         </section>
            </main>
          </div>
      
          <div class="flex-aside">
            <aside class="right-side-block">
              <div class="different-sections">
      
         
                <div class="different-section">
                  <h3 class="right-news-titles">Ангилал</h3>
                  <div class="right-side-content">
                    <section class="items-tegs">
                      <ul class="all-tegs">
                        <li><a href="#0" class="teg">Загвар</a></li>
                        <li><a href="#0" class="teg">Хөгжим</a></li>
                        <li><a href="#0" class="teg">Хэв маяг</a></li>
                        <li><a href="#0" class="teg">Урлаг</a></li>
                        <li><a href="#0" class="teg">Дотоод засал</a></li>
                        <li><a href="#0" class="teg">Аялал</a></li>
                        <li><a href="#0" class="teg">Хоол</a></li>
                        <li><a href="#0" class="teg">Эрүүл мэнд</a></li>
                      </ul>
                    </section>
                  </div>
                </div>
                <div class="different-section">
                  <h3 class="right-news-titles">Category</h3>
                  <div class="right-side-content">
                    <section class="all-items-list">
                      <ul class="items-list">
                        <% for(var i=0; i< category.length; i++) { %>
                        <li><a href="category/<%=category[i].category %>" class="list-item">Manga<span class="number">12</span></a></li>
                     
                        <% } %> 
                      </ul>
                  
                     
                    </section>
                  </div>
                </div>
      
                <div class="different-section">
                  <h3 class="right-news-titles">Comment</h3>
                  <div class="right-side-content">
                    <section class="email-address">
                      <form class="form-row">
                        <label class="form-group">
                          <input type="email" class="field" placeholder="Email-аdress" required>
                        </label>
                        <div class="form-row-group">
                          <button class="button">Send</button>
                        </div>
                      </form>
                    </section>
                  </div>
      
                </div>
      
               
                  
          
              </div>
            </aside>
          </div>
        </div>
        <%- include('./layout/footer.ejs'); %>