<%- include('./layout/header.ejs'); %>

      <link rel="stylesheet" href="../css/read.css">
      
      <div class="all-info">
        <div class="flex-container">
          <div class="flax-main">
            <main class="main-content">
              <section class="news-posts">
                <h2 class="category"><%= category.category %></h2>
                
                <% for(var i=0; i< category.length; i++) { %>
                  <article class="news-post">
                    <img src="../images/newsPhoto/<%=category[i].blogPhoto %>" class="left-photo" >
                    <div class="one-news-blog">
                      <div class="item-news">
                        <ul>
                          <li><a href="#0" class="item"><%= category[i].category %></a></li>
                       
                        </ul>
                      </div>
                      <a href="content/<%=users[i].id %>" >
                        <h2 class="news-post-title"> <%= category[i].title %></h2>
                      </a>
                      
                      <div class="footer">
                        
                        
                        <div class="name-author">Admin: <%= category[i].user %></div>
                      </div>
                      <time class="news-time"><%= category[i].date %></time> 
                      <div class="text"> <br> Read more  </div>
                    </div>
                  </article>
                <% } %> 
         </section>
            </main>
          </div>
      
          <div class="flex-aside">
            <aside class="right-side-block">
              <div class="different-sections">
      
         
             
                <div class="different-section">
                  <h3 class="right-news-titles">Category</h3>
                  <div class="right-side-content">
                    <section class="all-items-list">
                      <ul class="items-list">
                        <% for(var i=0; i< category.length; i++) { %>
                          <li><a href="category/<%=category[i].category %>" class="list-item"><%=category[i].category %></a></li>
                       
                          <% } %> 
                      </ul>
                  
                     
                    </section>
                  </div>
                </div>
      
                <div class="different-section">
                  <h3 class="right-news-titles">Comment</h3>
                  <div class="right-side-content">
                    <section class="email-address">
                      <form class="form-row">
                        <label class="form-group">
                          <input type="email" class="field" placeholder="Email-аdress" required>
                        </label>
                        <div class="form-row-group">
                          <button class="button">Send</button>
                        </div>
                      </form>
                    </section>
                  </div>
      
                </div>
      
               
                  
          
              </div>
            </aside>
          </div>
        </div>
        <%- include('./layout/footer.ejs'); %>